.person-details {
  width: 100%;
  max-width: 800px;
  margin: 1em auto;
}

.person-details__info {
  margin-bottom: 20px;
}

.person-details__info p {
  margin-bottom: 10px;
}

.person-details__actions {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background-color: #ff7f7f;
  color: white;
  border-radius: 5px;
}

.btn:hover {
  background-color: #cc6464;
}